.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
    padding: 10px;
}
.header__logo{
    height: 24px;
    width: 100px;
    margin-top: 7px;
}
.header__center{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__center>p{
    margin:10px;
    text-transform: uppercase;
}
.header__right
{
    justify-content: space-between;
    display: flex;
    
    text-transform: uppercase;
    margin-right: 35px;
}
.header__right>p{
    margin: 10px;
}